
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Assets/css/account.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
</head>
<body>
    <div class="form-container" style="background-image:url(/Assets/img/logo2.jpg)">
        <div class="form-box">
            <h2>ĐĂNG NHẬP</h2>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <div class="form-group mb-3">
                    @Html.Label("Số điện thoại:",null,new { @class = "form-label" })
                    @Html.TextBox("username", null, new { @class = "form-control" })
                </div>
                <div class="form-group mb-3">
                    @Html.Label("Mật khẩu:",null, new { @class = "form-label" })
                    @Html.Password("password",null, new { @class = "form-control"})
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Đăng nhập" />
                    <a href="@Url.Action("Register", "Account")">Đăng ký</a>
                </div>
            }
            <p style="color:red">@ViewBag.ErrorMessage</p>
        </div>
    </div>
</body>
</html>
